* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;

  background-color: aquamarine;
  margin: auto;

  font-size: 22px;
  font-weight: bold;

  transition: 1s;
}
