* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
}

div {
  transition: 1s;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;

  background-color: aquamarine;
  margin: auto;
  border-radius: 50%;

  font-size: 22px;
  font-weight: bold;
}

.ball_2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;

  background-color: rgb(255, 229, 82);
  margin: auto;
  border-radius: 50%;

  font-size: 22px;
  font-weight: bold;
}
